body {
    background-image: linear-gradient(180deg, #718355 0%, #e9f5db 100%);
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

.my-orders {
    padding: 10px;
}

button {
    margin-top:10px;
    margin-left: 5px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.order-item {
    position: relative; /* Necesario para posicionar el borde animado */
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px; /* Redondea el borde del contenedor */
    overflow: hidden; /* Asegura que el borde animado no se desborde */
    background-color: transparent; /* Fondo transparente para no interferir */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agrega sombra al contenedor */

}

/* Estilo del borde animado */
.order-item::before {
    content: '';
    position: absolute;
    top: -5px; /* Ajusta según el grosor del borde */
    left: -5px; /* Ajusta según el grosor del borde */
    width: calc(100% + 10px); /* Ajusta el tamaño del borde */
    height: calc(100% + 10px); /* Ajusta el tamaño del borde */
    border: 2px solid transparent; /* Color del borde cuando no está animado */
    border-radius: 15px; /* Debe coincidir con el borde del contenedor */
    background: linear-gradient(60deg, transparent, #57664a80, transparent); /* Gradiente del borde */
    background-size: 400% 400%; /* Tamaño del gradiente para animación */
    animation: animate-border 4s linear infinite; /* Aplicamos la animación */
    z-index: -1; /* Asegura que esté detrás del contenido */
}

@keyframes animate-border {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.order-item img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.order-details {
    display: flex;
    flex-direction: column;
}

.quantity-controls {
    position: relative;
    margin: 25px;
    display: flex;
    align-items: center;
}

.quantity-controls button {
    font-size: 18px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

#removeitem {
    color: rgb(187, 10, 10);
    font-size: 24px;
    position: absolute;
    right: 35px;
    margin-top: 150px;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

button, i {
    touch-action: manipulation;
}
