* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100vh;
    position: relative;
}


.swiper-pagination {
    position: absolute;
    left: 10px !important;
    /* Forzar la posición a la izquierda */
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}

.swiper-pagination-bullet {
    height: 32px;
    background-image: linear-gradient(180deg, #f09819 0%, #ff512f 100%);
    border-radius: 14px;
}

.swiper-slide {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: none;
    pointer-events: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.3s ease;
}

.container {
    background-color: rgb(221, 154, 99);
    padding: 10px;
    /* Añade espacio alrededor del contenido */
    width: 390px;
    height: 130px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
    /* Incluye el borde en el tamaño */
}



.horizontal-scroll {
    width: 250px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.nav-arrow {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    z-index: 101;
    transition: background-color 0.3s ease;
}

.nav-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}



div .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    padding: 3px 3px 0;
    opacity: 0.7;
    flex: 0 0 60px;
}

div .navigation li img {
    width: 40px;
    transition: 0.5s;
}

div .navigation li img:hover {
    width: 60px;
}


.hidden {
    display: none !important;
}

#order {
    background-color: transparent;
    /* Fondo transparente */
    font-size: 24px;
    /* Ajusta el tamaño del icono */
    color: white;
    border: none;
    /* Sin borde */
    padding: 0;
    /* Sin relleno */
    margin: 0;
    /* Sin márgenes */
    cursor: pointer;
    /* Mostrar cursor de mano para indicar clic */
    position: absolute;
    top: 35px;
    left: 350px;
    z-index: 10;
}

#order a {
    color: white;
}

#add {
    background-color: transparent;
    /* Fondo transparente */
    font-size: 34px;
    /* Ajusta el tamaño del icono */
    color: rgb(0, 168, 56);
    border: none;
    /* Sin borde */
    padding: 0;
    /* Sin relleno */
    margin: 0;
    /* Sin márgenes */
    cursor: pointer;
    /* Mostrar cursor de mano para indicar clic */
    position: absolute;
    bottom: 45px;
    left: 320px;
    z-index: 10;
}


#categories {
    color: white;
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 150px;

}

.dish-info {
    color: white;
    bottom: 160px;
    left: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    z-index: 10;
    /* Asegura que la información esté por encima del video */
    position: absolute;
    text-align: left;
    /* Asegura que el texto esté alineado a la izquierda */

}

#verMas1,
#verMas2,
#verMas3,
#verMas4,
#verMas5,
#verMas6,
#verMas7,
#verMas8,
#verMas9,
#verMas10,
#verMas11,
#verMas12,
#verMas13,
#verMas14,
#verMas15  {
    background-color: transparent;
    color: #53a7ec;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: -5px;
}

#verMenos1,
#verMenos2,
#verMenos3,
#verMenos4,
#verMenos5,
#verMenos6,
#verMenos7,
#verMenos8,
#verMenos9,
#verMenos10,
#verMenos11,
#verMenos12,
#verMenos13,
#verMenos14,
#verMenos15 {
    background-color: transparent;
    color: #53a7ec;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 25px;
}


.allergens {
    padding: 5px;
    border-radius: 5px;
    position: relative;
    left: -5px;
}




/* Ocultar controles en navegadores WebKit (Chrome, Safari, etc.) */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}

/* Ocultar controles en navegadores Firefox */
video::-moz-media-controls {
    display: none !important;
}

button, i, li {
    touch-action: manipulation; /* Previene el zoom en toques dobles */
  }